apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-dashboards
  namespace: monitoring
data:
  kubernetes-dashboard.json: |
    {{ lookup('file', '{{ role_path }}/files/1860_rev1.json') | to_nice_json }}
